ul {
    background-color :#333333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left
}
li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: beige;
}
li a:hover {
    background-color: #111111;
}