body {
    background-color: #FFF9F5;
} 
ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
}
li {
    float: left
}
li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-family:Arial;
    color: #332B46;
    transition: background-color 0.3s ease;
}
li a:hover {
    background-color: #FFA775;
    color: white;
}